* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-family: 'Open Sans', sans-serif;
}

/* Navbar and logo */

header {
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}

#centered-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#header-logo {
    width: 50%;
    display: flex;
    align-items: center;
}

#logo {
    width: 100%;
}


nav {
    background-color: white;
    display: flex;
    align-items: center;
    width: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    align-items: center;
    width: 100%;
}

nav ul li a {
    margin-left: 50px;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #AA1916;
    border-radius: 10px;
    color: white;
    padding: 3px;
}

/* Fotoğraflar */

.cards {
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.card-title { 
    margin-bottom: 2%;
    text-align: center;
    background-color: #AA1916;
    border-radius: 10px;
    color: aliceblue;
    font-size: larger;
}

.card  {
    width: 27%;
    height: 45%;
    margin: 6% auto;
    
}

.card img{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.card-body {
    text-align: center;
}

.card-body .btn {
    width: auto;
    
}



/*  Fotoğraf Satın Alması Start */

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}

.credit-card-box .display-table {
    display: flex;
    justify-content:center ;
    height: 200px;
    align-items:center ;

}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
}
.credit-card-box .panel-heading img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Fotoğraf Satın Alması End */

/* Video Start */
.video-card {
    border:1px solid gray;
    border-radius: 10px;
    width: 80%;
    position: relative;
    bottom: 50px;
    display:flex;
    margin: auto;

}
/* Video End */

/* Footer */

footer {
    width: 80%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    bottom: 0px;

}

#left-footer {
    width: 30%;
    display: flex;
    align-items: center;
}

#mid-footer {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-icons {
    width: 50px;

}

@keyframes identifier {
    0% {
        width: 50px;
    }

    100% {
        width: 55px;
    }
}

.footer-icons:hover {
    animation: identifier 0.1s forwards;

}

#right-footer {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#subscribe {
    color: #AA1916;
    border-color: #AA1916;
}

#subscribe:hover {
    background-color: #AA1916;
    color: white;
}