/* Text */
.text-center {
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.bg-gradien {
    background-color: rgb(17, 78, 158);
    /* background: linear-gradient(180.94deg, #2A50D6 -49.25%, rgba(42, 172, 214, 0.280811) 51.33%, rgba(42, 183, 214, 0) 142.41%);; */
}

.bg-white {
    background-color: white;
}

.bg-black {
    background: black;
}

/* Conteiner */

.conteiner {
    max-width: 1920px;
    margin: 0 auto;
}