*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
html {
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 10%;
}

#ttd-icon {
    width: 650px;
}

#navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 8rem;
    padding-right: 8rem;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    font-size: 25px;
}

#navbar ul li a{
    padding-left: 1rem;
    padding-right: 1rem;
}

#navbar ul li a:hover{
    background-color: #AA1916;
    border-radius: 10px;
    color: white;
}
