* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
}
body {
    background-color: #4fabc9;
}
#container {
    width: 80%;
    margin: auto;
}
header {
    display: flex;
    height: 10em;
    background-color: #65d6fc  ;
    justify-content:space-evenly;
    align-items: center;
    border: 4px darkblue solid;
    border-top: 0px;
    border-radius: 0px 0px 20px 20px;
}
header img {
    width: 50px;
}
header p {
    font-size: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}